html{
    background-color: #efefef;
}
.section {
    width: 100%;
    height: 100%;
}

#accueil #lineDrawing{
    margin-top: 50vh;
    transform: translateY(-50%);
}
#accueil{
    background-color: #efefef;
}
.square{
    height: 50px;
    width: 50px;
    background-color: #efefef;
    border-radius: 50%;
    margin: auto;
}